In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
userItemData = pd.read_csv('../../../../../Desktop/example.csv')

print(userItemData.shape)
userItemData

(13, 2)

    userId  ItemId
0     1001    5001
1     1001    5002
2     1001    5005
3     1002    5003
4     1002    5004
5     1002    5005
6     1003    5001
7     1003    5002
8     1004    5001
9     1004    5004
10    1004    5005
11    1005    5002
12    1005    5004

In [3]:
userItemData.groupby("ItemId")['userId'].nunique()

ItemId
5001    3
5002    3
5003    1
5004    3
5005    3
Name: userId, dtype: int64

In [4]:
#Get list of unique items
itemList=list(set(userItemData["ItemId"].tolist()))

In [5]:
print("Item list:", itemList)

print(userItemData['userId'].nunique())
print(userItemData['ItemId'].nunique())

Item list: [5001, 5002, 5003, 5004, 5005]
5
5

In [7]:
for index1 in range(len(itemList)):
    item1Users = userItemData[userItemData['ItemId'] == itemList[index1]]['userId'].tolist()
    print(item1Users)

[1001, 1003, 1004]
[1001, 1003, 1005]
[1002]
[1002, 1004, 1005]
[1001, 1002, 1004]

In [24]:
itemUsersDict = {}
for i in range(len(itemList)):
    itemUsers = userItemData[userItemData['ItemId'] == itemList[i]]['userId'].tolist()
    itemUsers = list(set(itemUsers))
    
    print(i, itemList[i], itemUsers)
    itemUsersDict[itemList[i]] = itemUsers

0 5001 [1001, 1003, 1004]
1 5002 [1001, 1003, 1005]
2 5003 [1002]
3 5004 [1002, 1004, 1005]
4 5005 [1001, 1002, 1004]

In [25]:
itemUsersDict

{5001: [1001, 1003, 1004],
 5002: [1001, 1003, 1005],
 5003: [1002],
 5004: [1002, 1004, 1005],
 5005: [1001, 1002, 1004]}

In [26]:
# rev_multidict = {}
# for key, value in itemUsersDict.items():
#     rev_multidict.setdefault(value, set()).add(key)

In [31]:
itemOverlap = []

for i1 in range(len(itemList)):
    item1Users = list(set(userItemData[userItemData['ItemId'] == itemList[i1]]['userId'].tolist()))
    
    
    print(i1, itemList[i1], item1Users)
    
    for i2 in range(i1, len(itemList)):
        
        if ( i1 == i2):
            continue
            
        #Get list of users who bought item 2
        item2Users = list(set(userItemData[userItemData.ItemId==itemList[i2]]["userId"].tolist()))
        
        commonUsers = len(set(item1Users).intersection(set(item2Users)))   
        print(itemList[i1], item1Users, itemList[i2], item2Users, commonUsers)  
        itemOverlap.append({"Item1" : itemList[i1], "Item2": itemList[i2], "CustomerOverlap": commonUsers,
                           "total_customer_item1": len(set(item1Users)), "total_customer_item2": len(set(item2Users))})
        
d = pd.DataFrame(itemOverlap)
d

0 5001 [1001, 1003, 1004]
5001 [1001, 1003, 1004] 5002 [1001, 1003, 1005] 2
5001 [1001, 1003, 1004] 5003 [1002] 0
5001 [1001, 1003, 1004] 5004 [1002, 1004, 1005] 1
5001 [1001, 1003, 1004] 5005 [1001, 1002, 1004] 2
1 5002 [1001, 1003, 1005]
5002 [1001, 1003, 1005] 5003 [1002] 0
5002 [1001, 1003, 1005] 5004 [1002, 1004, 1005] 1
5002 [1001, 1003, 1005] 5005 [1001, 1002, 1004] 1
2 5003 [1002]
5003 [1002] 5004 [1002, 1004, 1005] 1
5003 [1002] 5005 [1001, 1002, 1004] 1
3 5004 [1002, 1004, 1005]
5004 [1002, 1004, 1005] 5005 [1001, 1002, 1004] 2
4 5005 [1001, 1002, 1004]

   CustomerOverlap  Item1  Item2  total_customer_item1  total_customer_item2
0                2   5001   5002                     3                     3
1                0   5001   5003                     3                     1
2                1   5001   5004                     3                     3
3                2   5001   5005                     3                     3
4                0   5002   5003                     3                     1
5                1   5002   5004                     3                     3
6                1   5002   5005                     3                     3
7                1   5003   5004                     1                     3
8                1   5003   5005                     1                     3
9                2   5004   5005                     3                     3