In [341]:
import pandas as pd
import numpy as np

In [342]:
data = pd.read_csv("../Incremental_unique/data/pmd_prime_day.txt", sep="\t",
                   encoding = "ISO-8859-1", header = None)

data.columns = ['master_asin','title_name','encrypted_customer_id','units','revenue']

In [343]:
data.head()

,master_asin,title_name,encrypted_customer_id,units,revenue
0,B07L9X9TXB,Spider-Man: A New Universe [dt./OV],A2RJG35770BBXK,1,0.83
1,B07PS9PBNC,Elternschule,A30XJVOQBJ78RL,1,0.83
2,B01LYKPPH4,Snowden [dt./OV],A291DXU5RM3XK5,1,0.83
3,B07PWYCWY5,25 km/h,A2RWPPHI3XUX33,1,0.83
4,B00HFD8LBU,Alien - Das unheimliche Wesen aus einer fremde...,AC5IGJF50PTDP,1,0.83

In [344]:
# grouped = data.groupby("master_asin")['encrypted_customer_id'].nunique().reset_index()
# grouped = grouped.sort_values(by = 'encrypted_customer_id', ascending = False).reset_index()
# grouped = grouped.drop(['index'], axis = 1)
# grouped.head()

# Dictionary with unique customers

In [345]:
# to_check = ['B07PCKXFRZ','B07TBXWYW4']

# saved_dict = {}
# saved_dict = saved_dict.fromkeys(to_check)
# saved_dict

In [346]:
# for i in to_check:
#     print(i)

In [347]:
# for k,v in saved_dict.items():
#     if data[data['master_asin'].isin([k])]['encrypted_customer_id'].values.any() not in saved_dict:
#         saved_dict.update({k:data[data['master_asin'].isin([k])]['encrypted_customer_id'].unique()})

In [348]:
# saved_dict

In [349]:
# for key in saved_dict.keys():
#     print(key, len(saved_dict[key]))

# Another approach

In [350]:
def f(x):
    d = {}
    d['count'] = x['encrypted_customer_id'].nunique()
    d['list'] = x['encrypted_customer_id'].unique()
      
    return pd.Series(d, index = ['count','list'])

In [351]:
new_df = data.groupby('master_asin').apply(f).reset_index()
new_df = new_df.sort_values(by = 'count', ascending = False).reset_index()
new_df = new_df.drop(['index'], axis = 1)

In [352]:
new_df.head()

  master_asin  count                                               list
0  B07PWYCWY5  49369  [A2RWPPHI3XUX33, A14Z04H2SQUASE, A204L31MYKDSF...
1  B07LB7CQHZ  37852  [A151W8YGRN34BQ, AUV6LAJ4UIDOP, AW2R6LX12A62S,...
2  B07KMM59YB  34712  [A1QVRZGQRTE3NI, A2QKUZFBJSAXS3, A3NSEHVCER9D2...
3  B07L9X9TXB  34097  [A2RJG35770BBXK, A1ICM1GVCOOUBF, A23EV83CQTZUA...
4  B07GDT79RK  20101  [A27FAXY2I9UZSE, A1DW0VI913IE92, A1JPQ22XLKLJR...

In [353]:
data['title_name'].unique()[0:10]

array(['Spider-Man: A New Universe [dt./OV]', 'Elternschule',
       'Snowden [dt./OV]', '25 km/h',
       'Alien - Das unheimliche Wesen aus einer fremden Welt',
       'Planet Der Affen - Revolution [dt./OV]', 'Wölfe [dt./OV]',
       'Braven [dt./OV]', 'American Pie - Das Klassentreffen [dt./OV]',
       'Männertag'], dtype=object)

In [361]:
data[data['master_asin'] == new_df['master_asin'][0]]['title_name'].unique()

array(['25 km/h'], dtype=object)

In [355]:
#subset = new_df.iloc[:,:]

In [356]:
# for index, row in subset.iterrows():
#     print(index, row['master_asin'], row['list'], len(row['list']) )

In [357]:
output = []
new_set = set()
for index, row in new_df.iterrows():
    #print(len(new_set))
    new_set.update(row['list'])
    #print("Updated set:" , len(new_set))
    output.append(len(new_set))

In [358]:
output[0:10]

[49369, 82045, 107660, 132234, 145290, 154574, 164019, 172507, 180711, 187473]

In [359]:
to_pd = pd.DataFrame(output)
to_pd.columns = ['unique']

In [360]:
to_pd.to_csv("output.csv")