In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv("../Incremental_unique/data/popcorn_pmd.txt", sep="\t",
                   encoding = "ISO-8859-1", header = None)
data.columns = ['master_asin','title_name','encrypted_customer_id','units','revenue']

In [19]:
data.head()

,master_asin,title_name,encrypted_customer_id,units,revenue
0,B07PCKXFRZ,Marvel Studios' Captain Marvel [dt./OV],A3ROIDMCQM08QC,1,0.83
1,B00FYITMZM,In meinem Himmel [dt./OV],A11MNFOUOHHQF1,1,0.83
2,B071DMKRQB,Guardians of the Galaxy Vol. 2 [dt./OV],A10O5EFNIT3UGG,1,0.83
3,B07QLP2YPY,Escape Room [dt./OV],A6JL85IN8IHQ6,1,0.83
4,B01MQXW497,Vaiana [dt./OV],AJQUIKLIMH42K,1,0.83

In [20]:
# grouped = data.groupby("master_asin")['encrypted_customer_id'].nunique().reset_index()
# grouped = grouped.sort_values(by = 'encrypted_customer_id', ascending = False).reset_index()
# grouped = grouped.drop(['index'], axis = 1)
# grouped.head()

# Dictionary with unique customers

In [21]:
# to_check = ['B07PCKXFRZ','B07TBXWYW4']

# saved_dict = {}
# saved_dict = saved_dict.fromkeys(to_check)
# saved_dict

In [22]:
# for i in to_check:
#     print(i)

In [23]:
# for k,v in saved_dict.items():
#     if data[data['master_asin'].isin([k])]['encrypted_customer_id'].values.any() not in saved_dict:
#         saved_dict.update({k:data[data['master_asin'].isin([k])]['encrypted_customer_id'].unique()})

In [24]:
# saved_dict

In [25]:
# for key in saved_dict.keys():
#     print(key, len(saved_dict[key]))

# Another approach

In [26]:
def f(x):
    d = {}
    d['count'] = x['encrypted_customer_id'].nunique()
    d['list'] = x['encrypted_customer_id'].unique()
       
    return pd.Series(d, index = ['count','list'])

In [27]:
new_df = data.groupby('master_asin').apply(f).reset_index()
new_df = new_df.sort_values(by = 'count', ascending = False).reset_index()
new_df = new_df.drop(['index'], axis = 1)

In [28]:
subset = new_df.iloc[:,:]

In [29]:
# for index, row in subset.iterrows():
#     print(index, row['master_asin'], row['list'], len(row['list']) )

In [30]:
output = []
new_set = set()
for index, row in subset.iterrows():
    #print(len(new_set))
    new_set.update(row['list'])
    #print("Updated set:" , len(new_set))
    output.append(len(new_set))

In [31]:
output[0:10]

[98248, 135788, 159418, 172313, 183677, 193420, 198100, 201765, 206216, 209405]