In [1]:
import pandas as pd
import itertools

In [110]:
df = pd.read_csv("../Combinations/data/sample_reversed.csv", sep=",")
df = df.fillna(0)
df.head()

,customer_id,gl60,gl265,gl75,gl201,gl193,gl199,gl79,gl74,gl469,...,gl263,gl229,gl325,gl147,gl364,gl197,gl21,gl241,gl267,gl15
0,6.890000e+08,0,0,75,0,0,0,0,74,469,...,0,0,0,0,0,0,0,0,267,0
1,1.020000e+09,0,265,75,0,0,199,0,0,469,...,0,0,325,0,0,0,0,0,0,0
2,7.780000e+07,0,265,75,0,0,199,0,74,469,...,263,0,325,147,0,0,21,241,267,15
3,9.240000e+08,0,0,0,0,0,199,0,0,469,...,0,0,325,0,0,197,0,0,267,0
4,8.780000e+08,0,0,0,0,0,199,0,0,469,...,0,0,325,0,0,197,0,0,267,15

In [3]:
def get_most_common_combinations(df,length):
    """
    function takes all combinations of 
    non zero entries of length l per row and counts their occurences.
    Then it sorts these occurences in decreasing order, from most common to least common
    """
    
    #Step one, select rows from a dataframe and convert to list
    temp = df.values.tolist()
    
    #Step two, eliminate all zeros
    out = [[element for element in row if element != 0] for row in temp]
    
    #Step three, create dataframe 
    newList = []
    for i in out:
        newList.append([[element for element in list(set(comb))] for comb in itertools.combinations(i, length)])
    
    #Step four, flatten the list
    flat_list = [item for sublist in newList for item in sublist]
    
    #Step five, calculate occurences
    listOfItems = flat_list
    setOfItems = []
    newListOfItems = []
    for item in listOfItems:
        if item in setOfItems:
            continue
        setOfItems.append(item)
        temp = list(item)
        occurence = listOfItems.count(item)
        temp.append(occurence)
        newListOfItems.append(temp)

        
    #Step six, sort the output
    return sorted(newListOfItems, key = lambda x: int(x[-1]), reverse  = True)

In [4]:
final = get_most_common_combinations(df.iloc[:,1:], 3)

In [5]:
final[0:10]

[[325, 469, 199, 6],
 [265, 267, 469, 5],
 [267, 469, 199, 5],
 [267, 325, 199, 5],
 [267, 325, 469, 5],
 [265, 469, 199, 4],
 [265, 325, 199, 4],
 [265, 325, 469, 4],
 [265, 241, 469, 4],
 [265, 267, 241, 4]]

# Create non overlapping segments and retrieve customers

In [63]:
temp = df.values.tolist()
values = [[element for element in row if element != 0] for row in temp]

In [65]:
#Using dict comphrehension
itemDict = {item[0]: item[1:] for item in values}

In [66]:
newList = []

for keys in itemDict:
    newList.append([[element for element in list(set(comb))] for comb in itertools.combinations(itemDict[keys], 3)])

In [69]:
dictionary = dict(zip(itemDict.keys(), newList))

In [225]:
# n = 0
# while (n < df.shape[0]):
    
#     for k, v in dictionary.items():
        
#         if final[n][0:-1] in v:
#             print("Rank of most common combo: ", n, "Combo: ", final[n][0:-1], "CustomerId:", int(k))
#     n = n + 1

In [229]:
#While loop covers cumulatively all the customers eligible for combinations mentioned above
n = 0
list_of_keys_so_far = [] #collect old previous keys

while (n < len(final)):
    
    for k, v in dictionary.items():
    
        if final[n][0:-1] in v:
             list_of_keys_so_far.append(int(k))
    #print(list(set(list_of_keys_so_far)),final[n][0:-1])
    n += 1
print(list(set(list_of_keys_so_far)))

[1020000000, 924000000, 77800000, 1120000000, 878000000, 1170000000, 6760000000, 311000000, 689000000]