In [58]:
import pandas as pd
import itertools

from collections import Counter, OrderedDict

In [59]:
df = pd.read_csv("../Combinations/data/sample_TVOD.txt", sep="\t", encoding = "ISO-8859-1", header=None)
df.columns = ['encrypted_customer_id','title_name']
print(df.shape)
df.head()

(968906, 2)

  encrypted_customer_id             title_name
0        A2G91FS37Q4UTS         Parallel Lives
1        A2G91FS37Q4UTS                   Time
2        A2XSDOII926IRW   Maja bei den Ameisen
3        A16JA3G5Q2Z850       Der erste Schnee
4         AIF2DHXCPJG7V  Gefangen im Cybernetz

<h1> Describes a way to create dictionary from dataframe </h1>


<p> </p>
https://stackoverflow.com/questions/36210071/pandas-dataframe-to-dict-with-unique-column-values-as-keys

<h1> Count occurence of a list inside list of lists </h1>

<p> https://stackoverflow.com/questions/45019607/count-occurrence-of-a-list-in-a-list-of-lists </p>

In [60]:
def from_dict_to_most_common(df, length):
    
    my_dict = df.groupby('encrypted_customer_id').agg({'title_name': lambda x: x.tolist()})['title_name'].to_dict()
    myList = list(my_dict.values())
    
    newList = []
    for i in myList:
        newList.append([[element for element in list(set(comb))] for comb in itertools.combinations(i, length )])
        
    flat_list = [item for sublist in newList for item in sublist]
    
    new_mapping = map(tuple, flat_list)
    final_count = Counter(new_mapping)
    
    #y = OrderedDict(final_count.most_common())
    #sorted(final_count.items(), key=lambda i: i[1], reverse=True)
    return final_count.most_common()

In [61]:
final = from_dict_to_most_common(df,3)

In [62]:
final[0:5]

[(('Herr der Ringe: Die Rückkehr des Königs: Special Extended Edition',
   'Der Herr der Ringe - Die Zwei Türme, Extended Cut',
   'Der Herr der Ringe: Die Gefährten - Special Extended Edition'),
  977),
 (('Der Herr der Ringe: Die Gefährten - Special Extended Edition',
   'Der Herr der Ringe - Die Zwei Türme, Extended Cut',
   'Herr der Ringe: Die Rückkehr des Königs: Special Extended Edition'),
  812),
 (('Frei', 'Frieden', 'Wiedergutmachung'), 600),
 (('Feuer', 'Schafe und Löwen', 'Blut'), 591),
 (('Der Hobbit: Eine unerwartete Reise (Extended Edition) [dt./OV]',
   'Der Hobbit: Smaugs Einöde - Extended Edition [dt./OV]',
   'Der Hobbit: Die Schlacht der fünf Heere - Extended Edition'),
  589)]